<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>Profile | Reddit</title>

    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/animation.css" />
  </head>
  <body>
    <nav class="navbar__container fade__appear" style="--i: 1.5">
      <div class="navbar__left">
        <a href="/" class="navbar_img">
          <img src="/img/reddit_logo.svg" alt="reddit logo" />
        </a>
        <a class="list__item" href="/posts">Posts</a>
      </div>

      <div class="auth__container">
        <button id="auth-logout" class="auth__login">Logout</button>
        <a href="/profile" class="auth__register" id="auth-username"></a>
      </div>
    </nav>

    <section class="profile__container">
      <h2 class="profile__title fade__in__left" style="--i: 1.3">Profile</h2>
      <div class="profile__body">
        <div class="profile__info-card fade__in__left" style="--i: 1.8">
          <div class="profile__img">
            <img
              id="profile-image"
              src="/img/default_user_img.png"
              alt="user img"
            />
          </div>
          <p class="profile__email" id="profile-email"></p>
          <p class="profile__age" id="profile-age"></p>
          <p class="profile__age" id="profile-post-counts"></p>
          <p class="profile__age" id="profile-comment-post-counts"></p>
          <p class="profile__age" id="profile-vote-post-counts"></p>
          <p class="profile__bio" id="profile-bio"></p>
        </div>
        <div class="profile__update-card fade__in__right" style="--i: 2.2">
          <div class="profile__update__header">
            <h3>Update Your</h3>
            <div class="auth__container">
              <a id="update-password" class="btn_update_password"> Password </a>
              <a id="update-info" class="btn_update_information">
                Information
              </a>
            </div>
          </div>
          <div class="profile__inputs">
            <div class="update__password hidden" id="update-password-card">
              <div class="group__input__card">
                <label for="current-password"
                  >Current Password<sup class="important__sup">*</sup></label
                >
                <input
                  type="password"
                  id="current-password"
                  placeholder="Enter your Current Password..."
                  autocomplete="off"
                  autofocus
                />
                <p class="profile__error" id="error-current-password-input"></p>
              </div>
              <div class="group__input__card">
                <label for="password"
                  >Password<sup class="important__sup">*</sup></label
                >
                <input
                  type="password"
                  id="password"
                  placeholder="Enter your password..."
                  autocomplete="off"
                />
                <p class="profile__error" id="error-password-input"></p>
              </div>
              <div class="group__input__card">
                <label for="confirm-password"
                  >Confirm Password<sup class="important__sup">*</sup></label
                >
                <input
                  type="password"
                  id="confirm-password"
                  placeholder="Enter your Confirm Password..."
                  autocomplete="off"
                />
                <p class="profile__error" id="error-confirm-password-input"></p>
              </div>
              <button id="btn-submit-update-password" class="submit__btn">
                Update Password
              </button>
            </div>
            <div class="update__info" id="update-info-card">
              <div class="group__input__card">
                <label for="username"
                  >Username<sup class="important__sup">*</sup></label
                >
                <input
                  type="text"
                  id="username"
                  placeholder="Enter your username..."
                  autocomplete="off"
                  autofocus
                />
                <p class="profile__error" id="error-username-input"></p>
              </div>
              <div class="group__input__card">
                <label for="age">Age<sup class="important__sup">*</sup></label>
                <input
                  type="text"
                  id="age"
                  placeholder="Enter your age..."
                  autocomplete="off"
                />
                <p class="profile__error" id="error-age-input"></p>
              </div>
              <div class="group__input__card">
                <label for="url-image">URL Image</label>
                <input
                  type="text"
                  id="url-image"
                  placeholder="Enter your url image..."
                  autocomplete="off"
                />
                <p class="profile__error" id="error-user-image-input"></p>
              </div>
              <div class="group__input__card">
                <label for="bio">Bio</label>
                <textarea id="bio" autocomplete="off">
Enter your bio...</textarea
                >
                <p class="profile__error" id="error-bio-input"></p>
              </div>
              <button id="btn-submit-update-information" class="submit__btn">
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="loading" id="loading">
      <div class="loadingio-spinner-dual-ring-li5ynguz5s">
        <div class="ldio-sxh7rt7zby">
          <div></div>
          <div>
            <div></div>
          </div>
        </div>
      </div>
    </section>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/js/function-dom.js"></script>
    <script src="/js/fetch-data.js"></script>
    <script src="/js/profile.js"></script>
  </body>
</html>
