<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>single page</title>
    <link rel="stylesheet" href="/css/single-post.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/animation.css" />
  </head>
  <body>
    <nav class="navbar__container fade__appear" style="--i: 1.5">
      <div class="navbar__left">
        <a href="/" class="navbar_img">
          <img src="/img/reddit_logo.svg" alt="reddit logo" />
        </a>
        <a class="list__item" href="/posts">Posts</a>
      </div>

      <div class="navbar__right">
        <div class="auth__container" id="auth-container">
          <a href="/auth/login" class="auth__login">Login</a>
          <a href="/auth/register" class="auth__register">Join Now</a>
        </div>
        <div class="auth__container hidden" id="logout-container">
          <button id="auth-logout" class="auth__login">Logout</button>
          <a href="/profile" class="auth__register" id="auth-username"></a>
        </div>
      </div>
    </nav>

    <section
      class="single__post__container"
      id="single-post-container"
    ></section>

    <section
      class="single__post__comment__container"
      id="single-post-comment-container"
    >
      <div class="single__post__comment__head">
        <h3
          class="single__post__comment__title fade__in__left"
          style="--i: 4.5"
        >
          Comments <sup class="comment__counts" id="comment-counts"></sup>
        </h3>
        <button
          id="btn-show-modal"
          class="btn__show__modal fade__in__right"
          style="--i: 4.8"
        >
          Add Comment
        </button>
      </div>
      <div
        class="comment__container fade__appear"
        id="comment-container"
        style="--i: 5.1"
      ></div>
    </section>

    <!-- ......  modal .....  -->

    <section
      class="modal-comment-create modal-hidden"
      id="modal-comment-create"
    >
      <div class="modal-comment-overview"></div>
      <div class="modal-comment-content">
        <i class="fas fa-times" id="close-comment-modal"></i>

        <h2 class="add-comment-title">Add More Comment</h2>
        <div class="add-comment-content">
          <div class="comment-form-input">
            <label for="content"
              >Comment Content <sup class="important__sup">*</sup></label
            >
            <textarea
              id="content"
              type="text"
              class="content-input"
              autocomplete="off"
              placeholder="content of Comment..."
              autofocus
            ></textarea>
            <p class="content__error" id="error-content-input"></p>
          </div>

          <div class="comment-form-input">
            <button class="btn-comment" id="submit-form" type="button">
              Add Comment
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="loading" id="loading">
      <div class="loadingio-spinner-dual-ring-li5ynguz5s">
        <div class="ldio-sxh7rt7zby">
          <div></div>
          <div>
            <div></div>
          </div>
        </div>
      </div>
    </section>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/function-dom.js"></script>
    <script src="/js/fetch-data.js"></script>
    <script src="/js/single-post.js"></script>
  </body>
</html>
