/* ------------------------------------------------------------------
                          [Table of contents]
        ***     01.  ==>   Root Variables And Font Family 
        ***     02.  ==>   General Style   

--------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

/* Root Variables */

:root {
  --black: #333333;
  --white: #ffffff;
  --orange: #ef4c10;
  --light-orange: #af441d;
}

/* ------------------------------------------------------------------
                    ***     General Style        ***
--------------------------------------------------------------------- */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', cursive, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  overflow-x: hidden;
  color: #333;
}

select,
button,
button:focus,
input,
input:focus textarea,
textarea:focus {
  outline: none;
  border: none;
}

a {
  color: #333;
  text-decoration: none;
}

img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orange);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-orange);
}

/* navbar Section */
.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  height: 10vh;
}

.navbar__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_img {
  display: flex;
  justify-content: start;
  align-items: center;
}
.navbar_img img {
  width: 80%;
  max-width: 80%;
  min-width: 80%;
}
.list__item {
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}

.auth__container {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.auth__login {
  padding: 7px 12px 7px 7px;
  background: transparent;
  border: 3px solid var(--orange);
  color: var(--black);
  border-radius: 50px 0 0 50px;
  margin-right: -18px;
  clip-path: polygon(0 0, 100% 0, 79% 100%, 0 100%);
  transition: all ease-in-out 0.5s;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.auth__register {
  border: 3px solid var(--orange);
  padding: 7px 12px 7px 7px;
  background: var(--orange);
  border-radius: 0 50px 50px 0;
  clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%);
  transition: all ease-in-out 0.5s;
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.auth__container:hover .auth__login {
  border: 3px solid var(--orange);
  background: var(--orange);
  color: var(--white);
}

.auth__container:hover .auth__register {
  background: transparent;
  border: 3px solid var(--orange);
  color: var(--black);
}

@media screen and (min-width: 1200px) {
  .navbar__container {
    padding: 50px;
    height: 15vh;
  }

  .navbar_img img {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .auth__login {
    padding: 7px 30px 7px 20px;
    background: transparent;
    border: 3px solid var(--orange);
    color: var(--black);
    border-radius: 50px 0 0 50px;
    margin-right: -32px;
    clip-path: polygon(0 0, 100% 0, 79% 100%, 0 100%);
    transition: all ease-in-out 0.5s;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
  }

  .auth__register {
    border: 3px solid var(--orange);
    padding: 7px 30px 7px 20px;
    background: var(--orange);
    border-radius: 0 50px 50px 0;
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%);
    transition: all ease-in-out 0.5s;
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
  }

  .list__item {
    font-style: bold;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
  }
}

/* section container */

.section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
}

.section__content {
  margin-top: 30px;
}

.section__title {
  font-family: 'Uncial Antiqua', cursive, Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 66px;
  color: #333333;
  text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.section__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: justify;
  color: #333333;
  width: 80%;
  margin: 20px auto;
}

.section__img {
  width: 80%;
  margin-top: auto;
}
.section__img img {
  padding-bottom: 30px;
  max-width: 80%;
  min-width: 80%;
  width: 80%;
}

@media screen and (min-width: 600px) {
  .section__img {
    width: 70%;
    margin-top: auto;
  }
  .section__img img {
    padding-bottom: 0;
    max-width: 60%;
    min-width: 60%;
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  .section__container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 85vh;
    flex-direction: row;
    gap: 30px;
  }
  .section__img {
    width: 100%;
    margin-top: 0;
  }
}

.hidden {
  display: none !important;
  transition: all 0.5s ease-in-out !important;
}

/* loading */

.loading {
  position: absolute;
  z-index: 9999;
  height: 100vh;
  width: 100%;
  background-color: var(--white);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes ldio-sxh7rt7zby {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-sxh7rt7zby div {
  box-sizing: border-box !important;
}
.ldio-sxh7rt7zby > div {
  position: absolute;
  width: 148px;
  height: 148px;
  top: 26px;
  left: 26px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #ef4c10 transparent #ef4c10 transparent;
  animation: ldio-sxh7rt7zby 0.7874015748031495s linear infinite;
}
.ldio-sxh7rt7zby > div:nth-child(2) {
  border-color: transparent;
}
.ldio-sxh7rt7zby > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-sxh7rt7zby > div:nth-child(2) div:before,
.ldio-sxh7rt7zby > div:nth-child(2) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 62px;
  background: #ef4c10;
  border-radius: 50%;
  box-shadow: 0 140px 0 0 #ef4c10;
}
.ldio-sxh7rt7zby > div:nth-child(2) div:after {
  left: -8px;
  top: 62px;
  box-shadow: 140px 0 0 0 #ef4c10;
}
.loadingio-spinner-dual-ring-li5ynguz5s {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-sxh7rt7zby {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-sxh7rt7zby div {
  box-sizing: content-box;
}
