/* ------------------------------------------------------------------
                          [Table of contents]
        ***     01.  ==>   Root Variables And Font Family 
        ***     02.  ==>   General Style   

--------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

/* Root Variables */

:root {
  --black: #333333;
  --white: #ffffff;
  --orange: #ef4c10;
  --light-orange: #af441d;
  --bg-color-profile: #f5f5f5;
  --primary: #e55f34;
}

/* ------------------------------------------------------------------
                    ***     General Style        ***
--------------------------------------------------------------------- */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', cursive, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  overflow-x: hidden;
  color: #333;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--white);
  background: var(--primary);
}

::selection {
  color: var(--white);
  background: var(--primary);
}

select,
button,
button:focus,
textarea,
input,
input:focus textarea,
textarea:focus {
  outline: none;
  border: none;
}

a {
  color: #333;
  text-decoration: none;
}

img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orange);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-orange);
}

/* navbar Section */
.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 8vh;
  background: #f7f7f7;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.navbar__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_img {
  display: flex;
  justify-content: start;
  align-items: center;
}
.navbar_img img {
  width: 80%;
  max-width: 80%;
  min-width: 80%;
}
.list__item {
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}

.auth__container {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.auth__login {
  padding: 7px 12px 7px 7px;
  background: transparent;
  border: 3px solid var(--primary);
  color: var(--black);
  border-radius: 50px 0 0 50px;
  margin-right: -18px;
  clip-path: polygon(0 0, 100% 0, 79% 100%, 0 100%);
  transition: all ease-in-out 0.5s;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.auth__register {
  border: 3px solid var(--primary);
  padding: 7px 12px 7px 7px;
  background: var(--primary);
  border-radius: 0 50px 50px 0;
  clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%);
  transition: all ease-in-out 0.5s;
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.auth__container:hover .auth__login {
  border: 3px solid var(--primary);
  background: var(--primary);
  color: var(--white);
}

.auth__container:hover .auth__register {
  background: transparent;
  border: 3px solid var(--primary);
  color: var(--black);
}

@media screen and (min-width: 1000px) {
  .navbar__container {
    padding: 10px 50px;
    height: 10vh;
  }

  .navbar_img img {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .auth__login {
    padding: 6px 30px 6px 20px;
    background: transparent;
    border: 3px solid var(--primary);
    color: var(--black);
    border-radius: 50px 0 0 50px;
    margin-right: -32px;
    clip-path: polygon(0 0, 100% 0, 79% 100%, 0 100%);
    transition: all ease-in-out 0.5s;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
  }

  .auth__register {
    border: 3px solid var(--primary);
    padding: 6px 30px 6px 20px;
    background: var(--primary);
    border-radius: 0 50px 50px 0;
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%);
    transition: all ease-in-out 0.5s;
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
  }

  .list__item {
    font-style: bold;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
  }
}

.hidden {
  display: none !important;
  transition: all 0.5s ease-in-out !important;
}

/* loading */

.loading {
  position: absolute;
  z-index: 9999;
  height: 100vh;
  width: 100%;
  background-color: var(--white);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes ldio-sxh7rt7zby {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-sxh7rt7zby div {
  box-sizing: border-box !important;
}
.ldio-sxh7rt7zby > div {
  position: absolute;
  width: 148px;
  height: 148px;
  top: 26px;
  left: 26px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #ef4c10 transparent #ef4c10 transparent;
  animation: ldio-sxh7rt7zby 0.7874015748031495s linear infinite;
}
.ldio-sxh7rt7zby > div:nth-child(2) {
  border-color: transparent;
}
.ldio-sxh7rt7zby > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-sxh7rt7zby > div:nth-child(2) div:before,
.ldio-sxh7rt7zby > div:nth-child(2) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 62px;
  background: #ef4c10;
  border-radius: 50%;
  box-shadow: 0 140px 0 0 #ef4c10;
}
.ldio-sxh7rt7zby > div:nth-child(2) div:after {
  left: -8px;
  top: 62px;
  box-shadow: 140px 0 0 0 #ef4c10;
}
.loadingio-spinner-dual-ring-li5ynguz5s {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-sxh7rt7zby {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-sxh7rt7zby div {
  box-sizing: content-box;
}

/* ------------------------  profile container --------------------------- */
.profile__container {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 20px 40px;
}

.profile__title {
  font-family: 'Uncial Antiqua', cursive, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.profile__body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__info-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--bg-color-profile);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 5px 10px;
  margin-bottom: 15px;
}

.profile__img {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.profile__img img {
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  width: 150px;
  max-width: 150px;
  min-width: 150px;
  height: 150px;
  max-height: 150px;
}

.profile__email,
.profile__age,
.profile__bio {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
}

.profile__update-card {
  background: var(--bg-color-profile);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 5px 10px;
  margin-bottom: 15px;
  /* max-height: 450px;
  min-height: 450px; */
}

.profile__update__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_update_password {
  padding: 7px 15px 7px 7px;
  background: transparent;
  border: 3px solid var(--orange);
  color: var(--black);
  border-radius: 50px 0 0 50px;
  margin-right: -20px;
  clip-path: polygon(0 0, 100% 0, 79% 100%, 0 100%);
  transition: all ease-in-out 0.5s;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.btn_update_information {
  border: 3px solid var(--orange);
  padding: 7px 15px;
  background: var(--orange);
  border-radius: 0 50px 50px 0;
  clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%);
  transition: all ease-in-out 0.5s;
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.auth__container:hover .btn_update_password,
.active {
  border: 3px solid var(--orange);
  background: var(--orange);
  color: var(--white);
}

.auth__container:hover .btn_update_information,
.unActive {
  background: transparent;
  border: 3px solid var(--orange);
  color: var(--black);
}

.group__input__card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 10px auto;
}
.group__input__card input {
  width: 100%;
  background: var(--white);
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #818181;
  height: 40px;
  padding: 5px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.group__input__card textarea {
  width: 100%;
  background: var(--white);
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #818181;
  height: 90px;
  max-width: 100%;
  min-width: 100%;
  max-height: 90px;
  min-height: 90px;
  padding: 5px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.group__input__card input::placeholder {
  color: #cccccc;
  font-size: 14px;
  line-height: 14px;
}
.group__input__card label {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  margin-bottom: 8px;
  position: relative;
}

.submit__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: var(--white);
  background: var(--orange);
  border-radius: 8px;
  padding: 10px 10px;
  transition: all ease-in-out 0.5s;
}
.submit__btn:hover {
  background: var(--light-orange);
}

.update__password {
  margin-top: 25px;
}

#btn-update-password {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

@media screen and (min-width: 1000px) {
  .profile__body {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
  }
  .profile__container {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 0 50px;
  }
  .profile__title {
    font-family: 'Uncial Antiqua', cursive, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 77px;
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
  }

  .profile__img {
    width: 100%;
    text-align: center;
  }

  .profile__img img {
    border-radius: 50%;
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    height: 200px;
    max-height: 200px;
  }
  .profile__info-card {
    flex: 40;
    padding: 15px 20px;
  }
  .profile__update-card {
    flex: 60;
    padding: 15px 20px;
  }
}

.not-found-user {
  text-align: center;
}

.important__sup {
  color: var(--primary);
  margin-left: 2px;
  font-size: 16px;
  font-weight: bold;
}

.profile__error {
  color: var(--orange);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  transition: all 0.5s ease-in-out;
  text-align: start;
}
